.chat-main
  .main-group
    .main-group__left
      %h2.main-group__left--name
        = @group.name
      %ul.main-group__left--list
        Member:
        %li.main-group__left--list--name
          - @group.users.each do |user|
            #{user.name}
    =link_to edit_group_path(@group), class: "main-group__edit" do
      Edit
  .main-messages
    .messages
      = render @messages

  .message-form
    = form_for [@group, @message] do |f|
      .new_message
        .input-left
          = f.text_field :content, placeholder: 'type a message', class: 'input-left__text'
          = f.label :image, class: 'input-left__image' do
            = icon('fas', 'image')
            =f.file_field :image, class: 'input-left__image__file'
        = f.submit 'Send', class: 'submit-btn'